.swiper_product_wrapper .swiper_product_image{
    background-color: #F2F3F5;
    /* width:20% */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}
.swiper_product_wrapper .swiper_product_image img{
    width:60%;
    display: block;
    margin:0 auto;
}
.swiper_product_explore_more{
    margin-bottom: 0;
    color: #8D8D90;
}

.swiper_button_prev, .swiper_button_next{
    top:40%;
}