.product{
    margin:10px 0;
    background-color: #F2F3F5;
    padding:30px 0px 15px 0px;
    border-radius: 10px;
}
.product .prod_image{
    display: block;
    width:71%;
    margin: 0 auto;
}
.product_info{
    padding-left:25px;
    margin-top: 20px;
}
.product_info .prod_type{
    color:#8D8D90;
    margin-right: 10px;
}
.product_info .prod_offer{
    color:#FC9827
}
.product_info .prod_reviews{
  font-size: 13px;
  color:#8D8D90;
  margin-bottom: 0;
}

.prod_stars{
    width:40%;
    margin-right: 10px;
}
.product_info .prod_offer_price{
font-weight: 400;;
margin-top: 15px;;
}
.product_info .prod_original_price{
    font-size: 13px;
   text-decoration: line-through;
   margin-left: 10px;
   margin-top: 15px;;
  }