.roadmap{
    margin-bottom:20px
}

.roadmap_wrapper span{
    color:#8D8D90;
    margin:0 10px;
}
.roadmap_wrapper img{
    width:1.5%
}
.roadmap_wrapper .home{
    margin-left:0
}


 .product_main_image_wrapper {
    background-color: #F2F3F5;
    border-radius: 8px;
    overflow: hidden;
}
.product_main_image_wrapper .best{
    padding:25px 0 0 25px ;
}
.product_main_image_wrapper .best_seller{
    padding:9px 0px;
    width:25%;
    text-align: center;
    margin:0px;
    background-color: #FC9827;
    color:white;
    border-radius: 6px;
}
 .product_main_image_wrapper img{
    display: block;
    width:64%;
    transform: scale(1.5);
    margin: 0 auto;
}
.product_views_wrapper{
    margin-top:20px
}
.product_view{
    border-radius: 10px;
    background-color: #F2F3F5;
}
.product_view img{
  width:100%
}
.product_view.more{
    position:relative;
    border: 1px solid black;
}
.product_view.more img{
    filter: blur(3px);
}
.more p.remaining{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


.options,.prod_info,.prod_money,.prod_review,.varients{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}

.product_details_wrapper .options p{
    margin: 0 25px 0 25px;
    color:#8D8D90
}
.product_details_wrapper .options p.opt1{
    margin-left: 0;
}
.product_details_wrapper .options p.active{
    color:#FC9827;
    text-decoration: underline;
}

.prod_info p,.prod_money p,.prod_review p,.varients{
margin-bottom: 0;
}
.prod_info h3{
    font-weight: bold;
}
.prod_info p{
    font-size: 15px;
    margin:0 50px;
    color:#8D8D90
}
.prod_money h3{
    font-weight: bold;
    font-size: 40px;
}
.prod_money p{
    font-size: 20px;
    margin: 0 30px;
}
.prod_money p.original{
    text-decoration: line-through;
    color: #8D8D90;
}
.prod_money p.offer{
    color:#FC9827;
}
.prod_review p{
    margin: 0 30px;
    color: #8D8D90;
}

.product_details_wrapper h4.size,.product_details_wrapper h4.colour{
    font-size: 25px;
    color:#8D8D90;
    margin-bottom: 15px;
}
.product_details_wrapper h4.colour span{
    color:#FC9827;
}
.product_varients img{
 width:100%
}

.prod_details{
    margin-top:20px
}
.prod_details .detail_content{
color:#8D8D90
}