
.logo{
    width:100px
}
.header_location_img{
    width:9%;
    height:9%;
    margin-right: 7px;
}
.header_input_wrapper{
    display: flex;
    align-items: center;
    padding:6px 5px;
    background-color: #F2F3F5;
    border-radius: 7px;
}
.heart,.cart,.person{
    width:20%;
    height:20%;
    margin-right: 5px;
}
.header_input_wrapper input{
    border:none;
    outline:none;
    background: transparent;
    width:95%;
    margin: 0 auto;
    padding:5px 20px;
}
.header_input_wrapper img{
  width:15px;
  height:15px;
    margin-left: 10px;
}




