/* lower navigation styles */

.lower_header > ul{
    padding-left: 0;;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.lower_header > ul > li{
    position: relative;
    padding:10px;
    cursor: pointer;
}
.lower_header > ul > li::before{
    content:'';
   position: absolute;
   height: 100%;
   width:100%;
   border-bottom: 3px solid darkgray;
   left:-100%;
   transition: .1s ease-in-out;
   display: none;
   z-index: -2;
}
.lower_header > ul > li:hover:before{
    left:0;
    display: block;
}
.lower_header > ul > li a{
    color:rgb(59, 59, 63);
    text-decoration: none;
    font-size: 15px;
}

.sub_categories{
    position: fixed;
    z-index: 500;
    width:90vw;
    height:0;
    overflow: hidden;
    left:5vw;
    top:22vh;
    background-color: white;
    /* transform: scaleY(0); */
    transform-origin: top;
    opacity: 0;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    transition:all .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.sub_categories > div{
    padding:20px 50px;    
}
.sub_categories ul{
    padding-left: 0;
}
.sub_categories h5{
    color:#ff3f6c;
    font-size:15px;
    margin-bottom: 0;
    margin: 10px 0;
    font-weight: 500;
}
.sub_categories ul li{
    list-style: none;
}
.sub_categories ul li a{
    color:rgb(59, 59, 63);
    text-decoration: none;
    font-size:14px
}
.sub_categories ul li a:hover{
    color:rgb(59, 59, 63);
    font-weight: bold;
}
.lower_header > ul > li:hover .sub_categories{
   height:auto;
    opacity: 1;;
    
}