.footer_wrapper{
    background-color: #F2F3F5;
    border-radius: 15px;
    padding: 10px 40px 10px 60px;
}
.online_shopping h3,.useful_links h3,.make_money_with_us h3,.connect_with_us h3,.experience_our_app h3{
font-size:21px;
font-weight:500;
margin-bottom: 20px;
}
.online_shopping ul,.useful_links ul,.make_money_with_us ul,.connect_with_us ul{
padding:0;
list-style: none;
}
.online_shopping ul li,.useful_links ul li,.make_money_with_us ul li{
margin-bottom: 7px;
}
.connect_with_us ul li{
    margin-bottom: 10px; 
}
.online_shopping ul li a,.useful_links ul li a,.make_money_with_us ul li a,.connect_with_us ul li a {
text-decoration: none;
color: #8D8D90;
font-size:15px
}

.connect_with_us h3{
    text-align: center;
}
.connect_with_us ul{
    padding-left:42px;
}
.contact{
    display: flex;
    align-items: center;
}
.twitter_wrapper img{
    width:20px;
    height:15px;
    margin-right: 10px;
}
.instagram_wrapper img{
    width:15px;
    height:15px;
    margin-right: 15px;
}
.youtube_wrapper img{
    width:22px;
    height:16px;
    margin-right: 8px;
}
.facebook_wrapper img{
    width:15px;
    height:15px;
    margin-right: 15px;
}
.experience_our_app{
margin-top:40px;
}
.experience_our_app h3{
    font-size:21px;
    padding-left: 42px;
}
.experience_our_app_wrapper{
    display: flex;
    padding-left:18px
}
.experience_our_app .play_store,.experience_our_app .app_store {
display: flex;
align-items: center;
justify-content: flex-end;
}
.experience_our_app .play_store img{ 
width:80%
}
.experience_our_app .app_store img{
    width:80%
}

.footer_line{
    margin-top:40px;
    width:100%;
}
.copy_right {
    margin: 20px 0;;
    color:#8D8D90
}