.carousel-control-prev,.carousel-control-next{
z-index:-3
}

.watchhero{
background-color:#F2F3F5;
border-radius: 10px;
}
.view_more{
    background-color: #FEF6F1;
    border: 2px solid #FC9827;
    margin: 5% 0;
 
    border-radius: 10px;
    padding:0;
}
.view_more a{
    display: block;
    color:#FC9827 ;
    text-decoration: none;
    padding:10px 40px;
}
.hero_content{
    widtH:60%
}
.nav_button{
 width:25%
}
.outer_circle{
    
    padding:10px 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner_circle{
   
   border-radius: 50%;
    background-color: #8D8D90;
   padding:5px
}
.watch{
    width:300px; 
}

.banner,.banner3{
    margin-top: 30px;
}
.banner_content_wrapper{
    padding:10px 10px;
  background-color: #FEF6F1;
  border-radius: 10px;;
}

.indicategory_wrapper{
    padding:10px;
    overflow: hidden;
    /* width:20%; */
    border-radius: 10px;
    background-color: #F2F3F5;
}
.indicategory_wrapper img{
    margin-left: 40%;
    width:70%
}
.explore{
    margin-bottom: 0;
    color: #8D8D90;
}
.all_category_wrapper .img_wrapper{
    background-color: #F2F3F5;
    /* width:20% */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}
.all_category_wrapper .img_wrapper img{
    width:70%;
    display: block;
    margin:0 auto;
}

.sub_category{
   padding:0;
    list-style: none;
    display: flex;
}
.sub_category li{
    margin-right:20px;
    cursor: pointer;
}

.banner2{
    margin-top: 50px;
}

.banner2_wrapper{
    padding:10px 10px;
    background-color: #FEF6F1;
    border-radius: 10px;;
}
.banner2_wrapper h2{
width:50%;
font-weight: bold;
}
.banner2_wrapper p{
    width:60%;
}
.recommended{
    margin-top:50px
}
.recomm_main{
    border-radius: 10px;
    overflow: hidden;
    background-color: #F2F3F5;
    padding:20px
}
.recomm_main img{
   transform: scaleX(1.5) scaleY(1.3);
   width:85%;
   margin-left:10%
}
.recomm_main p{
    margin:0;
    color:#8D8D90
}

.banner3_content_wrapper{
        padding:5px 10px;
        background-color: #FEF6F1;
        border-radius: 10px;;
}
.headphone{
    width:15%
}
.banner4_wrapper{
    border-radius: 20px;
    overflow: hidden;
}

.top_brands{
   margin-top: 50px;    
}
.top_brands_wrapper {
  display: flex;
  justify-content: space-between;
}

.top_brands_wrapper .brand_logo img{
width:100%;
height:100px;
cursor: pointer;
mix-blend-mode: multiply;
transition: all .3s ease-in-out;

} 
.top_brands_wrapper .brand_logo img:hover{
mix-blend-mode:difference;
}
